@charset 'UTF-8';
@import url(normolize.css);
@font-face
{
    font-family: 'Cuprum';

    src: url('../fonts/Cuprum.woff2') format('woff2'), url('../fonts/Cuprum.woff') format('woff');
}

@font-face
{
    font-family: 'CuprumBold';

    src: url('../fonts/CuprumBold.woff2') format('woff2'), url('../fonts/CuprumBold.woff') format('woff');
}

@font-face
{
    font-family: 'CuprumBoldItalic';

    src: url('../fonts/CuprumBoldItalic.woff2') format('woff2'), url('../fonts/CuprumBoldItalic.woff') format('woff');
}

@font-face
{
    font-family: 'CuprumItalic';

    src: url('../fonts/CuprumItalic.woff2') format('woff2'), url('../fonts/CuprumItalic.woff') format('woff');
}

@font-face
{
    font-family: 'PT-Sans';

    src: url('../fonts/PT-Sans.woff2') format('woff2'), url('../fonts/PT-Sans.woff') format('woff');
}

@font-face
{
    font-family: 'PT-SansBold';

    src: url('../fonts/PT-SansBold.woff2') format('woff2'), url('../fonts/PT-SansBold.woff') format('woff');
}

*,
*::before,
*::after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'Cuprum';

    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

._wrap
{
    width: 940px;
    margin: 0 auto;
}

._flexbox
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 0;
}

._visually-hidden
{
    position: absolute;

    overflow: hidden; 
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
    padding: 0;

    border: 0;
}

._new-icon::after
{
    position: absolute;
    top: -1px;
    right: -1px;

    display: block;

    width: 60px;
    height: 60px;

    content: '';

    background-image: url('../img/icon-new.png');
    background-repeat: no-repeat;
}

._logo-link
{
    font-size: 24px;
    line-height: 24px;

    display: block; 

    width: 220px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    outline: none;
    background-color: #ee3643;
}
._logo-link:hover
{
    background-color: #ca2c37;
}
._logo-link:focus
{
    background-color: #ca2c37;
}
._logo-link:active
{
    background-color: #ba2732;
}
._logo-link::before
{
    position: absolute;
    bottom: -5px;
    left: 0; 

    display: block;

    width: 220px;
    height: 5px;

    content: '';

    background-color: #b52933;
}

.modal__wrap
{
    position: fixed;
    z-index: 999; 
    top: 0;
    left: 0;

    display: none;
    overflow: auto;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.modal-open
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal__close-btn
{
    font-size: 0;

    position: absolute;
    top: 15px;
    right: 10px;

    width: 21px;
    height: 21px;

    cursor: pointer;

    border: none;
    outline: none; 
    background-color: rgba(255, 255, 255, 0);
}
.modal__close-btn::before,
.modal__close-btn::after
{
    position: absolute;
    top: 9px;
    left: -3px;

    display: block;

    width: 27px;
    height: 5px;

    content: '';

    background-color: #ee3643;
}
.modal__close-btn::before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.modal__close-btn::after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/*  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\---_HEADER_---\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.main-header
{
    background-color: #f3f7f9;
}

.main-header__top
{
    margin-bottom: 46px; 

    background-color: #293449;
}

.main-header__title
{
    display: block;

    margin: 0;
}

.main-header__link-title
{
    position: relative; 

    padding-top: 9px;
    padding-bottom: 10px;
}

.main-header__search-form
{
    position: relative;
}
.main-header__search-form:hover .main-header__search-icon path
{
    opacity: 1;
}

.main-header__search-icon
{
    position: absolute;
    top: 12px;
    left: 17px;

    width: 17px;
    height: 17px;
}
.main-header__search-icon path
{
    opacity: .3;
}

.main-header__input-search
{
    font-size: 17px;
    line-height: 18px;

    width: 270px;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px; 
    padding-left: 50px;

    border: 0;
    outline: none;
    background-color: #293449;
}
.main-header__input-search::-webkit-input-placeholder
{
    color: #fff;
}
.main-header__input-search::-moz-placeholder
{
    color: #fff;
}
.main-header__input-search:-ms-input-placeholder
{
    color: #fff;
}
.main-header__input-search::-ms-input-placeholder
{
    color: #fff;
}
.main-header__input-search::placeholder
{
    color: #fff;
}
.main-header__input-search:hover
{
    background-color: #212a3a;
}
.main-header__input-search:focus
{
    background-color: #fff;
}
.main-header__input-search:focus + .main-header__search-icon path
{
    opacity: 1; 

    fill: #ee3643;
}

.main-header__btn-bookmarks,
.main-header__btn-case
{
    font-family: 'Cuprum';
    font-size: 17px;
    line-height: 18px; 

    position: relative;

    padding: 0;
    padding-top: 12px;
    padding-bottom: 13px;

    color: #fff;
    border: 0;
    outline: none;
    background-color: #293449;
}
.main-header__btn-bookmarks:hover,
.main-header__btn-case:hover
{
    background-color: #212a3a;
}
.main-header__btn-bookmarks:focus,
.main-header__btn-case:focus
{
    background-color: #212a3a;
}
.main-header__btn-bookmarks:active,
.main-header__btn-case:active
{
    opacity: .5; 
    background-color: #161d29;
}
.main-header__btn-bookmarks:hover:before,
.main-header__btn-case:hover:before
{
    opacity: 1;
}
.main-header__btn-bookmarks:active:before,
.main-header__btn-case:active:before
{
    opacity: .5;
}

.main-header__btn-bookmarks
{
    padding-right: 28px; 
    padding-left: 43px;
}
.main-header__btn-bookmarks:before
{
    position: absolute;
    top: 12px;
    left: 17px;

    display: block;

    width: 14px;
    height: 16px;

    content: '';

    opacity: .3; 
    background-image: url('../img/icon-bookmark.svg');
    background-repeat: no-repeat;
}

.main-header__btn-case
{
    padding-right: 31px; 
    padding-left: 49px;
}
.main-header__btn-case:before
{
    position: absolute;
    top: 12px;
    left: 18px;

    display: block;

    width: 15px;
    height: 15px;

    content: '';

    opacity: .3; 
    background-image: url('../img/cart-icon.svg');
    background-repeat: no-repeat;
}

.main-header__checkout
{
    font-size: 17px;
    line-height: 18px;

    display: block;

    padding-top: 12px;
    padding-right: 21px; 
    padding-left: 21px;

    color: #fff;
    outline: none;
    background-color: #63a63e;
}
.main-header__checkout:hover
{
    background-color: #5fbb2d;
}
.main-header__checkout:focus
{
    background-color: #5fbb2d;
}
.main-header__checkout:active
{
    opacity: .51; 
    background-color: #518534;
}

.main-header_container
{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main-header__contacts
{
    margin-right: 69px;
    margin-bottom: 40px;
}

.main-header__preview
{
    font-family: 'CuprumItalic';
    font-size: 16px;
    line-height: 23px;

    width: 195px;
    margin: 0;
    margin-top: 5px;
    margin-right: 71px; 
    margin-left: 53px;

    color: #ee3643;
}

.main-header__telephone
{
    font-size: 21px;
    line-height: 21px;

    position: relative; 

    display: inline-block;

    margin-bottom: 5px;
    padding-top: 9px;
    padding-right: 50px;
    padding-bottom: 9px;
    padding-left: 71px;

    color: #ee3643;
    border: 3px solid #fff;
    outline: none;
}
.main-header__telephone::before
{
    position: absolute;
    top: 10px;
    left: 13px;

    display: block;

    width: 18px;
    height: 19px;

    content: '';

    background-image: url('../img/icon-phone.svg');
    background-repeat: no-repeat;
}

.main-header__adress
{
    font-size: 14px;
    line-height: 24px;

    margin: 0;
    margin-left: 10px; 

    color: #32425c;
}

.main-header__authorization-list
{
    font-size: 21px;
    line-height: 21px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.main-header__authorization-item
{
    position: relative;
}
.main-header__authorization-item a:hover + .main-header__login-icon
{
    fill: #32425c;
}
.main-header__authorization-item a:focus + .main-header__login-icon
{
    fill: #32425c;
}
.main-header__authorization-item a:active + .main-header__login-icon
{
    fill: #c5c5c5;
}

.main-header__login-icon
{
    position: absolute;
    top: 14px;
    left: 14px;

    width: 20px;
    height: 17px;
}

.main-header__authorization-item a
{
    display: block;

    padding-top: 12px;
    padding-bottom: 12px; 

    color: #000;
    outline: none;
    background-color: #fff;
}
.main-header__authorization-item a:hover
{
    color: #ee3643;
}
.main-header__authorization-item a:focus
{
    color: #ee3643;
}
.main-header__authorization-item a:active span
{
    opacity: .3; 
    color: #000;
}

.main-header__authorization-item:nth-child(1) a
{
    margin-right: 10px;
    padding-right: 27px; 
    padding-left: 45px;
}

.main-header__authorization-item:nth-child(2) a
{
    padding-right: 23px; 
    padding-left: 26px;
}

.main-nav
{
    position: relative;

    width: 100%;
    margin-bottom: 65px;
}
.main-nav::before
{
    position: absolute;
    top: 55px;

    display: block;

    width: 100%;
    height: 5px;

    content: '';

    background-color: #293449;
}

.main-nav__list
{
    font-size: 17px;
    line-height: 17px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0; 
    padding: 0;

    list-style: none;

    color: #fff;
    background-color: #32425c;
}

.main-nav__item:nth-child(1) .main-nav__link
{
    padding-right: 32px; 
    padding-left: 50px;
}

.main-nav__item:nth-child(2) .main-nav__link
{
    padding-right: 30px; 
    padding-left: 32px;
}

.main-nav__item:nth-child(3) .main-nav__link
{
    padding-right: 30px; 
    padding-left: 30px;
}

.main-nav__item:nth-child(4) .main-nav__link
{
    padding-right: 29px; 
    padding-left: 30px;
}

.main-nav__item:nth-child(5) .main-nav__link
{
    padding-right: 30px; 
    padding-left: 30px;
}

.main-nav__item:nth-child(6) .main-nav__link
{
    padding-right: 32px; 
    padding-left: 30px;
}

.main-nav__item:nth-child(7) .main-nav__link
{
    padding-right: 54px; 
    padding-left: 32px;
}

.main-nav__link
{
    display: block;

    padding-top: 19px;
    padding-bottom: 19px; 

    text-align: center;

    color: #fff;
    outline: none;
}
.main-nav__link:hover,
.main-nav__link:focus
{
    background-color: #293449;
}
.main-nav__link:active
{
    opacity: .5; 
    background-color: #1d2739;
}

/*  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\---_COMMON BLOCKS_---\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.product-card
{
    font-family: 'PT-SansBold';
    font-size: 17px;
    line-height: 18px;

    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    height: 320px;

    -webkit-transition: -webkit-box-shadow .5s ease;
            transition: -webkit-box-shadow .5s ease;
            transition:         box-shadow .5s ease;
            transition:         box-shadow .5s ease, -webkit-box-shadow .5s ease; 
    text-align: center;

    border: 1px solid #eaeaea;
}
.product-card:hover,
.product-card:focus-within
{
    padding-top: 183px; 

    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
}
.product-card:hover .product-card__image,
.product-card:focus-within .product-card__image
{
    position: absolute; 

    -webkit-transition: opacity .5s ease;
    -webkit-transition: position .5s ease;
            transition: opacity .5s ease;
            transition: position .5s ease;

    opacity: 0;
}
.product-card:hover .product-card__to-bookmarks-btn,
.product-card:focus-within .product-card__to-bookmarks-btn,
.product-card:hover .product-card__buy-link,
.product-card:focus-within .product-card__buy-link
{
    font-family: 'Cuprum';
    font-size: 14px;
    line-height: 18px;

    position: absolute;
    left: 40px;

    display: block;

    width: 135px;

    -webkit-transition: opacity .5s ease;
    -webkit-transition: position .5s ease;
            transition: opacity .5s ease;
            transition: position .5s ease;
    text-transform: uppercase; 

    opacity: 1;
}
.product-card:hover .product-card__buy-link,
.product-card:focus-within .product-card__buy-link
{
    top: 45px;

    padding-top: 11px;
    padding-bottom: 8px;

    color: #fff;
    border-bottom: 3px solid #367315;
    border-radius: 3px; 
    background-color: #63a63e;
}
.product-card:hover .product-card__buy-link:hover,
.product-card:focus-within .product-card__buy-link:hover,
.product-card:hover .product-card__buy-link:focus,
.product-card:focus-within .product-card__buy-link:focus
{
    outline: none; 
    background-color: #5fbb2d;
}
.product-card:hover .product-card__buy-link:hover::before,
.product-card:focus-within .product-card__buy-link:hover::before,
.product-card:hover .product-card__buy-link:focus::before,
.product-card:focus-within .product-card__buy-link:focus::before
{
    opacity: 1;
}
.product-card:hover .product-card__buy-link:active,
.product-card:focus-within .product-card__buy-link:active
{
    border-bottom-color: #518534; 
    background-color: #518534;
}
.product-card:hover .product-card__buy-link:active::before,
.product-card:focus-within .product-card__buy-link:active::before
{
    opacity: .5;
}
.product-card:hover .product-card__buy-link::before,
.product-card:focus-within .product-card__buy-link::before
{
    position: absolute;
    top: 12px;
    left: 11px;

    display: block;

    width: 15px;
    height: 15px;

    content: '';

    opacity: .3; 
    background-image: url('../img/cart-icon.svg');
    background-repeat: no-repeat;
}
.product-card:hover .product-card__to-bookmarks-btn,
.product-card:focus-within .product-card__to-bookmarks-btn
{
    top: 90px;

    padding-top: 8px;
    padding-bottom: 8px;

    color: #32425c; 
    border: 3px solid  #63a63e;
    border-radius: 3px;
    background-color: #fff;
}
.product-card:hover .product-card__to-bookmarks-btn:hover,
.product-card:focus-within .product-card__to-bookmarks-btn:hover,
.product-card:hover .product-card__to-bookmarks-btn:focus,
.product-card:focus-within .product-card__to-bookmarks-btn:focus
{
    border-color: #32425c;
    outline: none;
}
.product-card:hover .product-card__to-bookmarks-btn:active,
.product-card:focus-within .product-card__to-bookmarks-btn:active
{
    opacity: .3;
}

.product-card__buy-link
{
    position: absolute;

    -webkit-transition: opacity .5s ease;
    -webkit-transition: position .5s ease;
            transition: opacity .5s ease;
            transition: position .5s ease;

    opacity: 0;
}

.product-card__to-bookmarks-btn
{
    position: absolute;

    -webkit-transition: opacity .5s ease;
    -webkit-transition: position .3s ease;
            transition: opacity .5s ease;
            transition: position .3s ease;

    opacity: 0;
}

.product-card__image
{
    margin-bottom: 30px; 

    -webkit-transition: opacity .5s ease;
            transition: opacity .5s ease;

    opacity: 1;
}

.product-card__name
{
    font-size: 18px;
    line-height: 20px;

    margin-right: 30px;
    margin-bottom: 10px; 
    margin-left: 30px;
}

.product-card__before-discount
{
    margin: 0; 

    text-decoration: line-through;

    color: #a9a9a9;
}

.product-card__price
{
    position: absolute;
    bottom: 20px;
    left: 45px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 120px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;

    text-align: left;

    color: #fff;
    border-radius: 2px;
    background-color: #ee3643;
}
.product-card__price::after
{
    position: absolute;
    bottom: 0;
    left: 119px;

    width: 0;
    height: 0;

    content: '';

    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent; 
    border-left: 19px solid #ee3643;
}

/*  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\---_MAIN PAGE_---\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.index-header
{
    margin-bottom: 59px;
}

.offer
{
    margin-bottom: 55px; 

    color: #fff;
}

.offer__item
{
    position: relative; 

    width: 300px;
    height: 122px;

    border-top: 1px solid;
}

.offer__title
{
    font-family: 'CuprumBold';
    font-size: 24px;
    line-height: 30px;

    margin-top: 21px;
    margin-bottom: 15px; 
    margin-left: 22px;
}

.offer__btn
{
    font-size: 14px;
    line-height: 18px;

    display: block;

    width: 135px;
    margin-left: 25px;
    padding-top: 11px;
    padding-bottom: 11px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    outline: none; 
    background-color: rgba(0, 0, 0, .1);
}
.offer__btn:hover,
.offer__btn:focus
{
    background-color: rgba(0, 0, 0, .2);
}
.offer__btn:active
{
    background-color: rgba(0, 0, 0, .3);
}

.offer__item--materials
{
    margin-right: 20px;
    margin-bottom: 20px; 

    background-color: #ffbf47;
}
.offer__item--materials::before
{
    position: absolute;
    top: 31px;
    right: 43px;

    display: block;

    width: 44px;
    height: 65px;

    content: '';

    background-image: url('../img/icon-materials.svg');
    background-repeat: no-repeat;
}

.offer__item--tools
{
    margin-right: 20px; 

    background-color: #3bbce3;
}
.offer__item--tools::before
{
    position: absolute;
    top: 33px;
    right: 28px;

    display: block;

    width: 75px;
    height: 61px;

    content: '';

    background-image: url('../img/icon-tools.svg');
    background-repeat: no-repeat;
}

.offer__item--machinery
{
    background-color: #dc91d8;
}
.offer__item--machinery::before
{
    position: absolute;
    top: 31px;
    right: 31px;

    display: block;

    width: 78px;
    height: 62px;

    content: '';

    background-image: url('../img/icon-machinery.svg');
    background-repeat: no-repeat;
}

.offer__item--discount
{
    margin-bottom: 20px; 

    background-color: #8ed78f;
}
.offer__item--discount::before
{
    position: absolute;
    top: 26px;
    right: 45px;

    display: block;

    width: 59px;
    height: 72px;

    content: '';

    background-image: url('../img/icon-discount.svg');
    background-repeat: no-repeat;
}

.offer__item--delivery
{
    background-color: #ffc047;
}
.offer__item--delivery::before
{
    position: absolute;
    top: 32px;
    right: 31px;

    display: block;

    width: 80px;
    height: 63px;

    content: '';

    background-image: url('../img/icon-delivery.svg');
    background-repeat: no-repeat;
}

.offer__slider
{
    margin-right: 20px;
}

.banner
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 620px;
    height: 266px;
    padding-top: 20px;
    padding-left: 25px;

    background-repeat: no-repeat;
}
.banner p
{
    font-family: 'PT-Sans';
    font-size: 18px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 125px;
}

.banner__title
{
    font-family: 'CuprumBold';
    font-size: 36px;
    line-height: 36px;

    text-transform: uppercase;
}

.banner__btn
{
    width: 195px;
}

.main-btn
{
    font-family: 'Cuprum';
    font-size: 14px;
    line-height: 18px;

    display: block;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3643;
}
.main-btn:hover,
.main-btn:focus
{
    outline: none; 
    background-color: #ca2c37;
}
.main-btn:active
{
    background-color: #ba2732;
}

.banner--perforator
{
    background-image: url('../img/banner-puncher.jpg');
}

.banner--drill
{
    background-image: url('../img/banner-drill.jpg');
}

.slider-banner
{
    position: relative; 

    min-width: 0;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list
{
    overflow: hidden;
}

/* Лента слайдов */
.slick-track
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider-banner .slick-arrow
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    z-index: 100; 
    top: 50%;

    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}
.slider-banner .slick-arrow::before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 22px;
    height: 40px;
    margin-top: -20px;

    content: '';

    background-repeat: no-repeat;
}

.slider-banner .slick-prev
{
    left: 25px;
}
.slider-banner .slick-prev::before
{
    background-image: url('../img/icon-left.svg');
}

.slider-banner .slick-next
{
    right: 36px;
}
.slider-banner .slick-next::before
{
    background-image: url('../img/icon-right.svg');
}

.slider-banner .slick-list
{
    width: 620px;
}

.slider-banner .slick-dots
{
    position: absolute;
    bottom: 35px;
    left: 295px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.slider-banner .slick-dots li
{
    margin-right: 10px;
}
.slider-banner .slick-dots li:last-child
{
    margin: 0;
}

.slider-banner .slick-dots button
{
    font-size: 0; 

    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;

    border: 2px solid white;
    border-radius: 50%;
}

.slider-banner .slick-dots li.slick-active button
{
    background-color: #ee3643;
}

.popular-goods
{
    margin-bottom: 15px;
}

.popular-goods__header
{
    margin-bottom: 20px;
}

.popular-header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    padding-right: 25px;
    padding-left: 30px;

    background-color: #f9f5f0;
}

.popular-header__title
{
    font-family: 'Cuprum';
    font-size: 30px;
    line-height: 30px;

    margin-top: 30px;
    margin-bottom: 30px; 

    text-transform: uppercase;

    color: #32425c;
}

.popular-header__btn
{
    -ms-flex-item-align: center;
    align-self: center; 

    width: 255px;
}

.popular-goods__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    padding: 0;

    list-style-type: none;
}

.popular-brands__header
{
    margin-bottom: 20px;
}

.popular-brands__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 

    margin: 0;
    margin-bottom: 85px;
    padding: 0;

    list-style: none;
}

.popular-brands__item
{
    margin-right: 20px;
}
.popular-brands__item:nth-child(4),
.popular-brands__item:last-child
{
    margin-right: 0;
}
.popular-brands__item:nth-child(-n+4)
{
    margin-bottom: 20px;
}

.popular-brands__link
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    height: 145px;

    color: #000;
    border: 1px solid #ebebeb;
    outline: none;
}
.popular-brands__link:hover,
.popular-brands__link:focus
{
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
}
.popular-brands__link:active
{
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
            box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}
.popular-brands__link:active .popular-brands__image
{
    opacity: .3;
}

.popular-brands__image
{
    -ms-flex-item-align: center;
    align-self: center;

    margin: 0 auto;
}

.services
{
    margin-bottom: 75px;
    padding-top: 65px;

    background-color: #f4f7f9;
}

.services__title
{
    font-family: 'Cuprum';
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    margin-bottom: 30px;
}

.services__tagline
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 75px;
}

.flex-wrap
{
    position: relative; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.services__list
{
    position: relative; 

    margin: 0;
    margin-right: 80px;
    margin-bottom: 100px;
    padding: 0;

    list-style-type: none;
}
.services__list::before
{
    position: absolute;
    top: -37px;
    right: 0;

    display: block;

    width: 10px;
    height: 279px;

    content: '';

    background-image: url('../img/services_shodow-line.png');
    background-repeat: no-repeat;
}

.services__item
{
    font-family: 'CuprumBold';
    font-size: 21px;
    line-height: 30px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 240px;
    padding-top: 16px;
    padding-bottom: 22px;
    padding-left: 25px;

    color: #fff;
    border-top: 1px solid #4d627b; 
    background-color: #32425c;
}
.services__item:hover
{
    background-color: #293449;
}
.services__item:nth-child(1)
{
    border: none;
}

.services__item--active
{
    color: #32425c; 
    background-color: #fff;
}
.services__item--active:hover
{
    background-color: #fff;
}

.services__elem::before
{
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    content: '';

    background-repeat: no-repeat;
}

.services__elem--delivery
{
    display: none;
}
.services__elem--delivery::before
{
    width: 468px;
    height: 261px;

    background-image: url('../img/delivery.png');
}

.services__elem--guarantee
{
    display: none;
}
.services__elem--guarantee::before
{
    width: 389px;
    height: 283px;

    background-image: url('../img/guarantee.png');
}

.services__elem--credit
{
    display: none;
}
.services__elem--credit::before
{
    width: 465px;
    height: 265px;

    background-image: url('../img/credit.png');
}

.services__service-name
{
    font-family: 'CuprumBold';
    font-style: 36px;
    line-height: 36px;

    margin-bottom: 30px; 

    text-transform: uppercase;

    color: #32425c;
}

.services__description
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 30px; 

    color: #000;
}

.services__credit-btn
{
    width: 195px;
}

.services__elem--active
{
    display: block;
}

.about-us_container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-us__informations
{
    width: 520px;
    margin-right: 120px;
}

.informations__title,
.contacts__title
{
    font-family: 'Cuprum';
    font-size: 30px;
    line-height: 30px;

    margin-bottom: 30px;
}

.informations__tagline,
.informations__offer,
.contacts__tagline
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 35px;
}

.informations__offer
{
    margin-bottom: 24px;
}

.informations__list
{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 20px;

    margin: 0;
    margin-bottom: 40px; 
    padding: 0;
    padding-left: 35px;

    list-style-type: none;
}

.informations__item
{
    position: relative; 

    margin-bottom: 15px;
}
.informations__item:last-child
{
    margin-bottom: 0;
}
.informations__item::before
{
    position: absolute;
    bottom: 5px;
    left: -35px;

    display: block;

    width: 25px;
    height: 2px;

    content: '';

    background-color: #ee3643; 
    background-repeat: no-repeat;
}

.informations__btn
{
    width: 220px;
}

.contacts__link-map
{
    display: block;

    margin-bottom: 40px;
}

.contacts__btn
{
    width: 300px;
    margin-bottom: 85px; 

    border: none;
}

/*  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\---_CATALOG PAGE_---\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.catalog__header
{
    margin-bottom: 22px;
}

.main__bread-crumbs
{
    margin-bottom: 25px;
}

.main__title
{
    font-family: 'CuprumBold';
    font-size: 30px;
    line-height: 30px;

    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

    text-transform: uppercase; 

    color: #32425c;
    background-color: #f1f5f7;
}

.bread-crumbs
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;
}

.bread-crumbs__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.bread-crumbs__elem
{
    position: relative; 

    margin-right: 40px;
}
.bread-crumbs__elem::before
{
    position: absolute;
    top: 3px;
    right: -22px;

    display: block;

    width: 6px;
    height: 12px;

    content: '';

    background-image: url('../img/icon-right-small.svg');
    background-repeat: no-repeat;
}
.bread-crumbs__elem:last-child::before
{
    display: none;
}
.bread-crumbs__elem:first-child a:focus
{
    border-bottom: 1px solid #000;
}

.bread-crumbs__link
{
    color: #000;
    outline: none;
}
.bread-crumbs__link:hover,
.bread-crumbs__link:focus
{
    text-decoration: underline;
}

.bread-crumbs__link--disable
{
    pointer-events: none;
}

/*  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\---_ADDITIONAL CLASSES_---\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
._title-forms
{
    font-family: 'PT-SansBold';
    font-size: 17px;
    line-height: 30px;

    text-transform: uppercase;
}

._horiz-strip
{
    width: 100%;
    height: 1px;
    margin-bottom: 15px;

    background-color: #f7f2ec;
}

/*  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.main-form
{
    font-family: 'PT-Sans';
    font-size: 15px;
    line-height: 20px;

    max-width: 220px;
    margin-right: 20px;

    text-transform: uppercase;
}

.main-form__title
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 18px;

    width: 220px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;

    text-transform: uppercase; 

    border-radius: 2px;
    background-color: #f7f2ec;
}

.main-form__price
{
    margin-bottom: 25px;
}

.price__title
{
    margin-bottom: 20px;
}

.price__range
{
    position: relative;

    width: 220px;
    height: 80px;
    margin-bottom: 10px;

    border-radius: 2px;
    background-color: #f7f2ec;
}

.price__max-range,
.price__active-range
{
    position: absolute;
    top: 39px;
    left: 20px;

    width: 180px;
    height: 2px;

    background-color: #d7dbdd;
}

.price__min-point,
.price__max-point
{
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 20px;

    width: 20px;
    height: 20px;

    border: 8px solid #fff;
    border-radius: 50%; 
    background-color: #b1b1b1;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .57);
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .57);
}

.price__active-range
{
    left: 30px;

    width: 142px;

    background-color: #00ca74;
}

.price__max-point
{
    left: 162px;
}

.price__min-val,
.price__max-val
{
    font-family: 'PT-Sans';
    font-size: 17px;
    line-height: 18px;

    width: 95px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center; 

    border: none;
    border-radius: 2px;
    background-color: #f7f2ec;
}

.price__dah
{
    width: 10px;
    height: 1px;
    margin-top: 18px;
    margin-right: 10px;

    background-color: #000;
}

.price__max-val
{
    margin: 0;
}

.main-form__manufacturers
{
    margin-bottom: 25px;
}

.manufacturers__title
{
    margin-bottom: 15px;
}

.manufacturers__list,
.power-supply__list
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.manufacturers__item,
.power-supply__item
{
    margin-bottom: 15px;
}
.manufacturers__item:last-child,
.power-supply__item:last-child
{
    margin-bottom: 0;
}

.manufacturers__label
{
    -webkit-box-align: center;
    align-items: center; 
    -ms-flex-align: center;
}

.manufacturers__input:checked + .manufacturers__check-icon
{
    width: 27px;
    margin-right: 8px;

    background-image: url(../img/checkbox-on.svg);
}

.manufacturers__check-icon
{
    width: 23px;
    height: 23px;
    margin-right: 12px;

    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat; 
    background-size: cover;
}
.manufacturers__check-icon:hover
{
    opacity: .6;
}

.main-form__power-supply
{
    margin-bottom: 75px;
}

.power-supply__title
{
    margin-bottom: 13px;
}

.power-supply__label
{
    -webkit-box-align: center;
    align-items: center; 
    -ms-flex-align: center;
}

.power-supply__input:checked + .power-supply__radio-btn div
{
    display: block;
}

.power-supply__radio-btn
{
    width: 25px;
    height: 25px;
    margin-right: 10px;

    border: 4px solid #c5c5c5;
    border-radius: 50%;
}
.power-supply__radio-btn:hover
{
    border-color: #b5b5b5;
}
.power-supply__radio-btn:hover div
{
    background-color: #b5b5b5;
}
.power-supply__radio-btn div
{
    display: none;

    width: 9px;
    height: 9px;
    margin-top: 4px;
    margin-left: 4px;

    border: none;
    border-radius: 50%;
    background-color: #c5c5c5;
}

.main-form__btn
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 18px;

    width: 140px;
    height: 38px;

    text-transform: uppercase; 

    border: 1px solid #e5e5e5;
    outline: none;
    background-color: #fff;
}
.main-form__btn:hover
{
    border-color: #8c8c8c;
    background-color: #f8f8f8;
    -webkit-box-shadow: 0 0 10px 1px #c5c5c5;
            box-shadow: 0 0 10px 1px #c5c5c5;
}
.main-form__btn:focus
{
    border-color: #8c8c8c;
    background-color: #f8f8f8;
    -webkit-box-shadow: 0 0 10px 1px #c5c5c5;
            box-shadow: 0 0 10px 1px #c5c5c5;
}

/*  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\---_FOOTER_---\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.main-footer
{
    font-family: 'Cuprum';
    font-size: 16px;
    line-height: 18px;

    color: #fff; 
    background-color: #32425c;
}

.main-footer__container
{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-footer__logo
{
    display: block;

    margin: 0;
}

.main-footer__link-title
{
    font-size: 30px;
    line-height: 30px;

    position: relative; 

    margin-bottom: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-footer__contact
{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 24px;

    display: block;

    width: 326px;
    margin: 0;
    margin-bottom: 50px;
}

.main-footer__nuv-list,
.main-footer__offer-list
{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 24px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -ms-flex-align: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    margin: 0;
    margin-top: 37px;
    margin-bottom: 35px; 
    padding: 0;

    list-style-type: none;
}

.main-footer__nuv-item,
.main-footer__offer-item
{
    margin-left: 60px;
}
.main-footer__nuv-item:first-child,
.main-footer__offer-item:first-child
{
    margin: 0;
}
.main-footer__nuv-item a,
.main-footer__offer-item a
{
    color: #fff;
    outline: none;
}
.main-footer__nuv-item a:hover,
.main-footer__offer-item a:hover,
.main-footer__nuv-item a:focus,
.main-footer__offer-item a:focus
{
    text-decoration: underline;
}
.main-footer__nuv-item a:active,
.main-footer__offer-item a:active
{
    text-decoration: none;

    opacity: .5;
}

.main-footer__offer-list
{
    margin: 0;
}

.main-footer__offer-item a
{
    color: #ffd180;
}

.feedback
{
    padding-top: 35px; 

    background-color: #293449;
}

.feedback__copyright
{
    margin: 0;
    margin-right: 160px;
    margin-bottom: 35px;
}

.feedback__social-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-right: 120px;
    padding: 0;

    list-style-type: none;
}

.feedback__social-item:last-child a
{
    margin-right: 0;
}

.vk-icon
{
    width: 26px;
    height: 15px;
}

.fb-icon
{
    width: 12px;
    height: 22px;
}

.insta-icon
{
    width: 21px;
    height: 21px;
}

.feedback__social-link
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-right: 10px;

    text-align: center;

    color: #ffd180; 
    border-radius: 50%;
    outline: none;
    background-color: #212a3a;
}
.feedback__social-link:visited
{
    background-color: #212a3a;
}
.feedback__social-link:hover,
.feedback__social-link:focus,
.feedback__social-link:active
{
    background-color: #ee3643;
}

.feedback__mail,
.feedback__site
{
    margin: 0;
    padding: 0;
}

.feedback__mail-link,
.feedback__site-link
{
    margin-right: 50px;

    color: #ffd180;
    outline: none;
}
.feedback__mail-link:hover,
.feedback__site-link:hover,
.feedback__mail-link:focus,
.feedback__site-link:focus
{
    text-decoration: underline;
}
.feedback__mail-link:active,
.feedback__site-link:active
{
    text-decoration: none; 

    color: #ee3643;
}

.feedback__site-link
{
    margin: 0;
}

/*  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\---_MODAL_---\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.modal-writeUs
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 620px;

    background-color: #fff; 
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
}
.modal-writeUs::before
{
    position: absolute;
    top: -7px;
    left: 0;

    display: block;

    width: 620px;
    height: 7px;

    content: '';

    background-color: #ff5357;
}

.modal-writeUs__form
{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    padding-top: 50px; 
    padding-left: 80px;
}

.modal-writeUs__name-block
{
    margin-right: 20px;
    margin-bottom: 20px;
}

.modal-writeUs__message-block .modal-writeUs__field
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 460px;
    min-height: 114px;
    margin-bottom: 35px;
}

.modal-writeUs__field-name
{
    margin: 0;
    margin-bottom: 18px; 
    padding: 0;
}

.modal-writeUs__field
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 15px;

    color: #a9a9a9; 
    border: 2px solid #dee3e4;
    border-radius: 2px;
}
.modal-writeUs__field::-webkit-input-placeholder
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 18px;
}
.modal-writeUs__field::-moz-placeholder
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 18px;
}
.modal-writeUs__field:-ms-input-placeholder
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 18px;
}
.modal-writeUs__field::-ms-input-placeholder
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 18px;
}
.modal-writeUs__field::placeholder
{
    font-family: 'PT-Sans';
    font-size: 13px;
    line-height: 18px;
}

.modal-writeUs__wrap-btn
{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 80px;

    background-color: #f4f4f4;
}

.modal-writeUs__send-btn
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 460px;

    border: none;
    outline: none;
}

.modal-map
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 940px;

    -webkit-box-shadow: 0 0 16px 8px rgba(0, 0, 0, .5);
            box-shadow: 0 0 16px 8px rgba(0, 0, 0, .5);
}
