@import url(normolize.css);
@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum.woff2") format("woff2"), url("../fonts/Cuprum.woff") format("woff"); }

@font-face {
  font-family: 'CuprumBold';
  src: url("../fonts/CuprumBold.woff2") format("woff2"), url("../fonts/CuprumBold.woff") format("woff"); }

@font-face {
  font-family: 'CuprumBoldItalic';
  src: url("../fonts/CuprumBoldItalic.woff2") format("woff2"), url("../fonts/CuprumBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'CuprumItalic';
  src: url("../fonts/CuprumItalic.woff2") format("woff2"), url("../fonts/CuprumItalic.woff") format("woff"); }

@font-face {
  font-family: 'PT-Sans';
  src: url("../fonts/PT-Sans.woff2") format("woff2"), url("../fonts/PT-Sans.woff") format("woff"); }

@font-face {
  font-family: 'PT-SansBold';
  src: url("../fonts/PT-SansBold.woff2") format("woff2"), url("../fonts/PT-SansBold.woff") format("woff"); }

body {
  font-family: "Cuprum";
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.wrap {
  width: 940px;
  margin: 0 auto; }

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main-header {
  background-color: #f3f7f9; }

.main-header__top {
  background-color: #293449;
  margin-bottom: 46px; }

.main-header__title {
  display: block;
  margin: 0; }
  .main-header__title::before {
    content: "";
    display: block;
    width: 220px;
    height: 5px;
    background-color: #b52933;
    position: absolute;
    top: 42px; }

.main-header__link-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  background-color: #ee3643;
  outline: none;
  display: block;
  position: relative;
  padding-right: 55px;
  padding-left: 55px;
  padding-top: 9px;
  padding-bottom: 9px; }
  .main-header__link-title:hover {
    background-color: #ca2c37; }
  .main-header__link-title:focus {
    background-color: #ca2c37; }
  .main-header__link-title:active {
    background-color: #ba2732; }

.main-header__search-form {
  position: relative; }
  .main-header__search-form:hover .main-header__search-icon path {
    opacity: 1; }

.main-header__search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px; }
  .main-header__search-icon path {
    opacity: 0.3; }

.main-header__input-search {
  font-size: 17px;
  line-height: 18px;
  border: 0;
  outline: none;
  background-color: #293449;
  width: 270px;
  padding: 0;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px; }
  .main-header__input-search::-webkit-input-placeholder {
    color: #fff; }
  .main-header__input-search::-moz-placeholder {
    color: #fff; }
  .main-header__input-search:-ms-input-placeholder {
    color: #fff; }
  .main-header__input-search::-ms-input-placeholder {
    color: #fff; }
  .main-header__input-search::placeholder {
    color: #fff; }
  .main-header__input-search:hover {
    background-color: #212a3a; }
  .main-header__input-search:focus {
    background-color: #fff; }
  .main-header__input-search:focus + .main-header__search-icon path {
    fill: #ee3643;
    opacity: 1; }

.main-header__btn-bookmarks, .main-header__btn-case {
  position: relative;
  padding-top: 12px;
  padding-bottom: 13px;
  padding: 0;
  background-color: #293449;
  border: 0;
  outline: none;
  font-family: "Cuprum";
  color: #fff;
  font-size: 17px;
  line-height: 18px; }
  .main-header__btn-bookmarks:hover, .main-header__btn-case:hover {
    background-color: #212a3a; }
  .main-header__btn-bookmarks:focus, .main-header__btn-case:focus {
    background-color: #212a3a; }
  .main-header__btn-bookmarks:active, .main-header__btn-case:active {
    background-color: #161d29;
    opacity: 0.5; }
  .main-header__btn-bookmarks:hover:before, .main-header__btn-case:hover:before {
    opacity: 1; }
  .main-header__btn-bookmarks:active:before, .main-header__btn-case:active:before {
    opacity: 0.5; }

.main-header__btn-bookmarks {
  padding-left: 43px;
  padding-right: 28px; }
  .main-header__btn-bookmarks:before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    opacity: 0.3; }

.main-header__btn-case {
  padding-left: 49px;
  padding-right: 31px; }
  .main-header__btn-case:before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 18px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    opacity: 0.3; }

.main-header__checkout {
  display: block;
  background-color: #63a63e;
  outline: none;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  padding-top: 12px;
  padding-left: 21px;
  padding-right: 21px; }
  .main-header__checkout:hover {
    background-color: #5fbb2d; }
  .main-header__checkout:focus {
    background-color: #5fbb2d; }
  .main-header__checkout:active {
    background-color: #518534;
    opacity: 0.51; }

.main-header__contacts {
  margin-right: 69px;
  margin-bottom: 40px; }

.main-header__preview {
  font-family: 'CuprumItalic';
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 195px;
  margin: 0;
  margin-top: 5px;
  margin-left: 53px;
  margin-right: 71px; }

.main-header__telephone {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  display: inline-block;
  outline: none;
  border: 3px solid #fff;
  padding-left: 71px;
  padding-right: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 5px;
  position: relative; }
  .main-header__telephone::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 13px;
    display: block;
    width: 18px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat; }

.main-header__adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin: 0;
  margin-left: 10px; }

.main-header__authorization-list {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none; }

.main-header__authorization-item {
  position: relative; }
  .main-header__authorization-item a:hover + .main-header__login-icon {
    fill: #32425c; }
  .main-header__authorization-item a:focus + .main-header__login-icon {
    fill: #32425c; }
  .main-header__authorization-item a:active + .main-header__login-icon {
    fill: #C5C5C5; }

.main-header__login-icon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px; }

.main-header__authorization-item a {
  color: #000;
  background-color: #fff;
  outline: none;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px; }
  .main-header__authorization-item a:hover {
    color: #ee3643; }
  .main-header__authorization-item a:focus {
    color: #ee3643; }
  .main-header__authorization-item a:active span {
    color: #000;
    opacity: 0.3; }

.main-header__authorization-item:nth-child(1) a {
  margin-right: 10px;
  padding-left: 45px;
  padding-right: 27px; }

.main-header__authorization-item:nth-child(2) a {
  padding-left: 26px;
  padding-right: 23px; }

.main-nav {
  width: 100%; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  padding-left: 52px;
  padding-right: 55px;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  list-style: none;
  background-color: #32425c;
  margin: 0; }

.main-nav__item {
  padding-top: 19px;
  padding-bottom: 19px; }
